/exercicios/PrimeiroPrograma/target/
/exercicios/HoraDoSistema/target/
/desafios/IdiomaDoSistema/target/
/desafios/ResolucaoDaTela/target/
/exercicios/OlasMundoSwing/target/
/exercicios/OlaMundojavaFX/target/
